# jaeger servive
export JAEGER_SERVICE_NAME=jaeger-example
export JAEGER_SAMPLER_TYPE=const
export JAEGER_SAMPLER_PARAM=1
export JAEGER_REPORTER_LOG_SPANS=1
export JAEGER_REPORTER_FLUSH_INTERVAL=500ms
export JAEGER_AGENT_HOST=127.0.0.1

# foo grpc server
export FOO_HOST=localhost
export FOO_PROTOCOL=tcp
export FOO_PORT=9876

# bar grpc server
export BAR_HOST=localhost
export BAR_PROTOCOL=tcp
export BAR_PORT=9877
